<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET"/>
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
 <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
 <uses-feature android:name="android.software.leanback" android:required="false"/>
 <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
 <application android:theme="@style/Theme.USportz" android:label="USportz" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true">
  <activity android:name=".MainActivity" android:screenOrientation="unspecified" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
  <activity android:name=".MobilePairingActivity" android:screenOrientation="unspecified" android:exported="false" android:label="Connect USportz TV"/>
  <activity android:name=".SourceActivity" android:screenOrientation="unspecified" android:exported="false"/>
  <activity android:name=".SportsHubActivity" android:screenOrientation="unspecified" android:exported="false"/>
  <activity android:name=".LeagueHubActivity" android:screenOrientation="unspecified" android:exported="false"/>
  <activity android:name=".RichSportsActivity" android:screenOrientation="unspecified" android:exported="false"/>
  <activity android:name=".RichSportsV2Activity" android:screenOrientation="unspecified" android:exported="false"/>
  <activity android:name=".RichPlayerActivity" android:screenOrientation="landscape" android:exported="false"/>
  <activity android:name=".TvMainActivity" android:screenOrientation="landscape" android:exported="false"/>
  <activity android:name=".TvSportsActivity" android:screenOrientation="landscape" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LEANBACK_LAUNCHER"/></intent-filter>
  </activity>
  <activity android:name=".TvPairingActivity" android:screenOrientation="landscape" android:exported="true"/>
 </application>
</manifest>
